<p>{{store.name}} has {{item.quantity}} {{item.description}} ready for pickup at {{store.address}}. Please pick up from {{item.start_time}} to {{item.end_time}}</p>

<br>
<p>Thank you!</p>

- <p>{{store.name}}</p>
